/* Primera caja*/
 .caja-padre {
   background: #FF0000;
   height: 300px;
   margin: 10px auto;
   width: 300px;
  }

 .caja-padre .caja-hijo-1 {
   background: #800080;
   height: 150px;
   left: 75px;
   position: relative;
   top: 75px;
   width: 150px;
  }

 .caja-padre .caja-hijo-1 .caja-hijo-2 {
   background: #FFFF00;
   height: 75px;
   position: absolute;
   width: 75px;
  }

/* Segunda caja*/
 .caja-padre-2 {
   background: #0000FF;
   height: 300px;
   margin: 15px auto;
   position: relative;
   width: 300px;
  }

 .caja-padre-2 .caja-hijo-2-2 {
   background: #000000;
   height: 75px;
   position: absolute;
   width: 75px;
  }

 .caja-padre-2 .caja-hijo-2-2 .caja-hijo-2-3 {
   background: #008000;
   height: 150px;
   left: 75px;
   position: relative;
   top: 75px;
   width: 150px;
  }
